/* Navigation Bar */
.flex-container {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 0 30px 0 30px;
}

/* .contactUSButton {
    
} */
#navbarNav a:active {
    background-color: #F06000;
    border-radius: 10px;
    color: white;
}

#navbarNav a:hover {
    background-color: #F06000;
    color: white;
    border-radius: 5px;
}

/* Intro Section */

/* Left Column */
html,
body {
    height: 100%;
}

.parent {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child {
    width: 460px;
    height: 200px;
    padding: 2%;
    border-radius: 10px;
}

.learnmore_button {
    background-color: #F06000;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px;
}

.hiremeButton {
    outline: none;
    border-radius: 10px;
    border-color: #F06000;
    padding: 10px;
}

/* Right Column */
.image_Size {
    width: 400px;
    height: 400px;
    margin-top: 70px
}

/* About Me Section */
.container_flex {
    display: flex;
    flex-direction: row;
}

.button_download {
    width: 210px;
    margin-left: 180px;
    background-color: #f06000;
    color: white;
    border: none;
    border-radius: 10px;

}



/* testimonials */

.container_flex2 {
    display: flex;
    flex-direction: column;
}

.avatar {
    /* Center the content */
    display: inline-block;
    vertical-align: middle;

    /* Used to position the content */
    position: relative;

    /* Colors */
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;

    /* Rounded border */
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.avatar__letters {
    /* Center the content */
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
}

.parentCrousel {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childCrousel {
    width: 450px;
    height: 225px;
    padding: 2%;
    border-radius: 10px;
}


/* Leave a Message Section */
.leaveMessage {
    /* padding-left: 40px; */
    margin-top: 30px;
    font-family: revert;
}


.btn-circle.btn-xl {
    width: 60px;
    height: 60px;
    padding: 13px 18px;
    border-radius: 60px;
    text-align: center;
    background-color: #F06000;
}



/* Media Quries */

body button:hover{
    background-color: beige;
    color: black;
}

@media screen and (max-width:600px) {

    #LColumn-Intro {
        display: flex;
        height: 300px;
    }

    #RColumn-Intro {
        display: flex;
        height: 350px;
        align-items: flex-end;
    }

    #RColumn-Intro img {
        width: 300px;
        height: 300px;
    }
}